*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

.cdk.staging
cdk.out

*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.coverage
htmlcov/
.tox/
.pytest_cache/

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
